<!-- form handling -->
<form action="/api/users" method="POST" id="add_user">
    <div class="new_user">
        <div class="form-group">
            <label for="name" class="text-light">User Name</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="name" value="" placeholder="@namapengguna">
        </div>
        <div class="form-group">
            <label for="accountnumber" class="text-light">Account Number</label>
            <input type="text" name="email" value="" placeholder="Tambahkan nomor akun">
        </div>
        <div class="form-group">
            <label for="Email" class="text-light">Email</label>
            <input type="text" name="email" value="" placeholder="contoh@gmail.com">
        </div>
        <div class="form-group">
            <label for="identitynumber" class="text-light">Identity Number</label>
            <input type="text" name="email" value="" placeholder="1111171112900002">
        </div>

        <div class="form-group">
            <button type="submit" class="btn text-dark update">Simpan Data</button>
        </div>

    </div>
</form>